@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }
body { background: #1abc9c; font-family: 'Lato', sans-serif; text-transform: uppercase; letter-spacing: 1px;}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
 
   ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   }

header {
    text-align: justify;
    height: 1em;
    padding: 2em 5%;
    background: #2c3e50;
    color: #fff;
}
 
header::after {
    content: '';
    display: inline-block;
    width: 20%;
}
 
header > div,
header > div::before,
header nav,
header > div h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
 
header > div {
    height: 20%;
}
 
header > div::before {
    content: '';
    height: 20%;
}
 
header > div h1 {
    font-size: 1em;
    font-style: italic;
}
 
header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
}
 
header nav a:last-child {
    padding-right: 0;
}
 
@media screen and (max-width: 720px){
     
    header {
        height: 1em;
    }
     
    header > div,
    header > div h1,
    header nav {
        height: 1em;
        width: 1em;
        display: block;
        text-align: center;
    }
     
}

    
 footer { /* Нижняя часть */
  position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}




  body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */ }
   
