@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }
body { background: #1abc9c; font-family: 'Lato', sans-serif; text-transform: uppercase; letter-spacing: 1px;}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
 
header {
    text-align: center;
    height: 5em;
    padding: 1em 5%;
    background: #2c3e50;
    color: #fff;
    margin: 0;
}

   ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}
 
@media screen and (max-width: 720px){
    

    
 footer { /* Нижняя часть */
  position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}




  body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */ }
   
